.carousel{
	width:100%;
	height:500px;
}
.carousel img{
	position: absolute;
	width:200px;
	height:300px;
    right: 0;
    left: 0;
    margin: auto;
    display: none;
}

.carousel .selected{
	display:block;
}

.chevron-left{
	position:absolute;
	left:0;
	margin: auto;
}

.chevron-right{
	position: absolute;
	right:0;
}

