.carousel{
	height:300px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}
.carousel img{
    display: none;
}

.carousel .selected{
	display:block;
}

.chevron-left{
	padding-right:1em;
}

.chevron-right{
	padding-left:1em;
}



